<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>

    <title><%= content_for?(:title) ? yield(:title) : "Rails with Tagging" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="html-background">

  <div class="row">

    <!-- HEADER AREA -->

    <!--NAV-WRAP-->
    <div class = "contain-to-grid">

  <nav class="top-bar" data-topbar role="navigation">

      <ul class="title-area">
        <li class="name">
          <h1><a href="#">CLOUD NINE</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a>
        </li>

      </ul>

      <!--The Section Wrap -->
      <section class="top-bar-section">

        <!-- Right Nav Section -->
        <ul class="right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>

          <% if logged_in? %>
              <li><%= link_to "Logout", logout_path , class:"active"%></li>
          <% else %>
              <li><%= link_to "Login",  login_path , class:"active"%></li>
              <li><%= link_to "Register",  new_user_path , class:"active"%></li>
          <% end %>
        </ul>
      </section>

    </nav>
  </div>
  </div>

  <!--MESSAGES-->

  <div class="row">
    <%= render 'layouts/messages' %>
  </div>

    <%= yield %>

  <!-- FOOTER AREA -->
  <div class="full-width footer-area">
    <div class="row">
      <div class="large-12 columns">
        Ken McFadden  -  &copy; 2015 -  (not really :>))
      </div>
    </div>
  </div>

  </body>
</html>
